

:root {
    --main-bg-color: #795548;	
	--grid-bg-color: #A1887F;
	--inner-bg-color: #EFEBE9;
	--border-color: #3E2723;
	--border-radius: 10px;
	--button-border-radius: 20px;
	--heading-color: black;
	--text-color:  #3E2723 ;
	--heading-font: "Helvetica", Arial, sans-serif;
	--text-font: "Helvetica", Arial, sans-serif;
	--text-size: 16px; 
}

:focus {
  background: var(--border-color);
  color: white;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background-image: url("../wood-texture.jpg");
  background-repeat:repeat;
}

div.gridBox {
	border: var(--border-color) 3px solid; 
	border-radius: var(--border-radius);
	background: var(--grid-bg-color);
	margin: 20px 30px 20px 30px;
	box-shadow: 10px 10px 5px var(--border-color);
	background-image: url("../old-paper-texture.jpg");
} 

h1 {
	color: var(--heading-color);
	font-size: 34px;
	font-family: var(--heading-font);
}

h2 {
	color: var(--heading-color);
	font-size: 25px;
	font-family: var(--text-font);
}

div.cellBody1Text {
	color: var(--text-color);
	font-size: var(--text-size);
	border: var(--border-color) 2px solid; 
	border-radius: var(--border-radius);
	margin: 20px 30px 20px 30px; 
	background: var(--inner-bg-color);
	font-family: var(--text-font);
	background-image: url("../textured-paper.png");
	background-repeat:repeat;
} 

div.cellBody2Text {
	color: var(--text-color);
	font-size: var(--text-size);
	border: var(--border-color) 2px solid; 
	border-radius: var(--border-radius);
	margin: 20px 30px 20px 30px; 
	background: var(--inner-bg-color);
	font-family: var(--text-font);
	background-image: url("../textured-paper.png");
	background-repeat:repeat;
} 

div.radioGroup {
	border: var(--border-color) 2px solid; 
	border-radius: var(--border-radius);
	margin: 20px 30px 20px 30px; 
	background: var(--inner-bg-color);
	font-family: var(--text-font);
	background-image: url("../textured-paper.png");
	background-repeat:repeat;
} 

input[type=radio] {
}

label.radioLabel {
	color: var(--text-color);
	font-size: var(--text-size);
	font-family: var(--text-font);
	margin: 5px 20px 5px 5px;
}


textarea {
	color: var(--text-color);
	background: var(--inner-bg-color);
	border: var(--border-color) 3px solid;
	border-radius: var(--border-radius);
	font-size: var(--text-size);	
	margin: 5px 10px 5px 30px; 
	font-family: var(--text-font);
	background-image: url("../textured-paper.png");
	background-repeat:repeat;
}


img {
	margin: 20px 0;
	max-width: 200px;
}

span {
	margin : 5px 5px;
}

button {
	margin: 5px 5px 20px 5px;
	border: var(--border-color) 3px solid; 
	border-radius: var(--button-border-radius);
	background: var(--inner-bg-color);
	font-size: var(--text-size);
	font-family: var(--text-font);
	box-shadow: 4px 4px 3px var(--border-color);
}

ul {
	border: 2px solid var(--border-color);
	background: var(--inner-bg-color);
	margin: 20px 30px 10px 30px;
    list-style: none; 
	height: 200px;
	overflow-y: scroll;
	background-image: url("../textured-paper.png");
	background-repeat:repeat;
}